[1:52 am, 11/07/2023] Dhinesh Kumar EEE: nav ul li{
    display:inline;
     padding :30px;

   
}
nav ul li a{
   
    text-decoration: none;
    color: rgb(83, 37, 51);
    text-align: center;
}
h1{
    text-align: center;
    color:rgb(12, 1, 59);
}
header{
    background-color: rgb(245, 25, 110);
}
#home{
    text-align:center ;
}
img{
    border-radius: 50%;
}
#bio{
    text-align: center;
}
#portfolio{
    text-align: center;
    background-color: rgb(84, 138, 185);
}
li{
    display:inline;
    padding: 35px;px;
}
#skills{
    text-align: center;
}
#contact{
    text-align: center;
}
footer
{
    border-radius: 20%;
    text-align: center;
   color: rgb(17, 17, 17);
   background-color:rgb(24, 129, 73);
}